In [3]:
# 1. 김그린의 과목별 점수가 아래와 같을 때 평균을 계산하시오.
# 국어 : 80 / 영어 : 65 / 수학 : 55

a = (80 + 65 + 55)
b = 3
a / b

a=80
b=65
c=55
(a+b+c)/3

print(a)
print(b)

80
65

In [6]:
# 2. 김그린의 주민등록번호는 881120-1025639이다.
# 김그린의 주민등록번호를 연월일 부분과 그 뒤의 숫자 부분으로 나누어서 출력하시오.

pin = "881120-1025639"
yymmdd = pin[:6]
num = pin[7:]

print(yymmdd)
print(num)

881120
1025639

In [8]:
# 3. 아래의 문자열의 : 을 #으로 변경하여 출력하시오.

a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

In [9]:
# 4. [1,5,3,4,2]라는 리스트를 내림차순 정렬하여 출력하시오.

a = [1,5,3,4,2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

In [16]:
# 5. ['Life', 'is', 'too', 'short'] 라는 리스트를 
# Life is too short 라는 문자열로 만들어 출력하시오.

a="Life"
b="is"
c="too"
d="short"
e=a+b+c+d
result = " ".join(e)
print(result)

a=['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

L i f e i s t o o s h o r t
Life is too short

In [18]:
# 6. 딕셔너리 a에서 'B'에 해당되는 값을 추출하고 삭제하시오. 
# a = {'A' : 90, 'B' : 80, 'C' : 70}

a = {'A' : 90, 'B' : 80, 'C' : 70}
result = a.pop('B')
print(result)
print(a)

80
{'A': 90, 'C': 70}

In [21]:
# 7. a리스트에서 중복된 숫자들을 제거하여 출력하시오.
# set은 순서를 반영하지 않음 
# 따라서 순서 정렬을 위해 list로 다시 변환 필요

a=[1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
aList = list(aSet)
print(aList)

[1, 2, 3, 4, 5]