In [1]:
# 주피터컴퓨터 활용
str = "Life is too short, You need Python"
str[3]

'e'

In [2]:
str[12]

's'

In [3]:
# -1은 제일 마지막 글자를 출력함
str[-1]

'n'

In [4]:
# 문자열 슬라이싱 : 문자열 일부를 잘라내서 출력 
# Life is too short, You need Python
# [0:4] -> 0 이상 4 미만

str[0:4]

'Life'

In [5]:
# a[시작 번호:끝 번호]에서 끝 번호 생략하면 문자열의 시작 번호부터 끝까지

str[17:]

', You need Python'

In [6]:
# a[시작 번호:끝 번호]에서 시작 번호 생략하면 문자열의 처음부터 끝 번호까지

str[:20]

'Life is too short, Y'

In [10]:
# 0부터 숫자 세고 갯수 넣기 -> 0~7 : 8개

f="20230309_193230753"
day=f[:8]
day

'20230309'

In [9]:
hour=f[9:]
hour

'193230753'

In [12]:
# id를 abc****로 출력하고자 함

id="abc1234"
id[:3]+"****"

'abc****'

In [17]:
# I eat 3 apples을 출력한다면(문자열 포매팅)
# %s는 문자열, %d는 정수

"I eat %d apples"%3

"I eat %d %s"%(10, "oranges")

'I eat 10 oranges'

In [22]:
num = 10
fruit = "apples"
"I eat %d %s"%(num, fruit)

'I eat 10 apples'

In [26]:
# 포맷코드로 정렬과 공백
# %10s는 전체 길이가 10개인 문자열에 대입값 오른쪽으로 정렬, 그 앞의 나머지는 공백
# 반대쪽인 왼쪽 정렬은 %-10s
num=1
"I eat %d %-10s" % (num, "oranges")

'I eat 1 oranges   '

In [31]:
# 포맷코드로 소수점 
# '.'의 의미는 소수점 포인트, 그 뒤의 숫자 3은 소수점 뒤에 나올 숫자의 개수

"%0.3f" % 1.23654

#전체 글자에서 10글자 차지, 소수점 3자리
"%10.3f" % 1.23654

'   1.237'

In [32]:
# 포맷함수로 숫자 바로 대입 (대괄호 사용)
# 포맷함수로 2개 이상 값 넣기는 따로 연습 / f 문자열 포매팅보다 더 많이 사용
"I eat {0} apples" .format(3)

'I eat 3 apples'