In [6]:
# 집합은 set 키워드 사용
# 집합은 순서가 없어서 인덱싱 사용 불가 
# 인덱싱 사용하려면 리스트나 튜플로 변환해야함 

s1 = set([1,2,3])
li1 = list(s1)
li1
li1[0]

1

In [2]:
s1

{1, 2, 3}

In [3]:
# 집합은 리스트와 달리 중복 허용 안함

s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [4]:

s3 = set("abcdefg")
s3

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

In [8]:
# set으로 교집합 ( & 혹은 intersection 사용)

s4 = set([1,2,3,4,5,6])
s5 = set([4,5,6,7,8,9])

s4.intersection(s5)

{4, 5, 6}

In [9]:
# set으로 합집합 ( | 혹은 union 사용)

s4 | s5
s4.union(s5)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
# set으로 차집합 ( - 혹은 difference 사용)

s5-s4
s5.difference(s4)

{7, 8, 9}

In [16]:
s4.add(0)

In [19]:
s4.remove(3)
s4

{0, 1, 2, 4, 5, 6}

In [20]:
s4.update([7,8,9])
s4

{0, 1, 2, 4, 5, 6, 7, 8, 9}